* {
margin: 0rem;
padding: 0rem;
box-sizing: border-box;

}

body {
background-color: #000000;
color: #FFFFFF;

}

header

{
padding: 2rem;
text-align: center;
font-size: 3.3rem;

}

main {

padding: 2rem;
gap: 2rem;

}

section {

padding: 0rem;
gap: 1rem;


}
h3{
font-size: 3.4rem;
}

fieldset{
border-radius: 5rem;
padding: 3rem;
}


img {
  width: 65rem;
  height: auto;
}

p {
  font-size: 1.7rem;
}

em {
  font-size: 2.5rem;
  color: #FFFFFF;
}

.cmdl {
  color: green;
}

.cmdp {
  color: red;
}

.azul {
  color: #0015FF;
}

.tkt {
  color: goldenrod;
}

